<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1060839226253-nol65b2mr5tbi5gvkppj2jl077sbm03m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1060839226253-nol65b2mr5tbi5gvkppj2jl077sbm03m</string>
	<key>API_KEY</key>
	<string>AIzaSyALdDx69XEetM0M1IJVZX2kHrNVxEkfwjg</string>
	<key>GCM_SENDER_ID</key>
	<string>1060839226253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.login</string>
	<key>PROJECT_ID</key>
	<string>login-ff9db</string>
	<key>STORAGE_BUCKET</key>
	<string>login-ff9db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060839226253:ios:10d43b684e447c9e6ddbc4</string>
</dict>
</plist>